body {
  background: rgb(12, 5, 109);
  color: #fff;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/tokyo-first.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 120px;
  text-align: center;
}
header h1 {
  font-size: 70px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-size: 40px;
  line-height: 1.5;
}
header h3 {
  letter-spacing: 5px;
}
header a {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: #fff;
  padding: 15px 20px;
}
main {
  background: #fff;
}
main h1 {
  font-size: 38px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}
main h3 {
  margin: 0;
  font-size: 36px;
  line-height: 1;
}
main h4 {
  line-height: 1;
  font-size: 24px;
  margin: 0;
}
main p {
  font-size: 16px;
  line-height: 24px;
  color: #272044;
  opacity: 0.7;
}
.grid {
  display: grid;

  grid-gap: 64px;
}
.grid-2-col {
  grid-template-columns: 1fr 1fr;
}
.grid-3-col {
  margin-top: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-col-1-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.card {
  background: #fff;
  margin-top: 30px 0;
}
.card-header.grid {
  grid-gap: 0;
}
.card-body {
  padding: 30px;
}
.btn {
  display: block;
  color: #fff;
  background: #3d6cb9;
  text-align: center;
  letter-spacing: 3px;
  line-height: 21px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background: #f5feff;
  color: #272044;
}
.text-center {
  text-align: center;
}
.img-responsive {
  width: 100%;
}
footer {
  background-image: linear-gradient(rgba(6, 3, 48, 0.85), rgba(6, 3, 48, 0.85)),
    url("/images/tokyo-footer.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
footer p {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: #fff;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 24px;
  }
  header a {
    font-size: 8px;
    padding: 6px 10px;
  }
  header h3 {
    font-size: 14px;
  }
  section {
    padding: 20px 25px;
  }
  .grid-2-col {
    grid-template-columns: 1fr;
  }
  .grid-3-col {
    grid-template-columns: 1fr;
  }
  .grid-3-col-1-narrow {
    grid-template-columns: 1fr;
  }
  .card-header img {
    aspect-ratio: 16/9;
  }
  .embed {
    aspect-ratio: 16/9;
  }
}
